<main>
  <section class="users-section d-flex justify-content-center flex-column align-items-center">
    <article class="users-info">
      <div class="users-section-card d-flex">
        <%= image_tag "user-regular.svg" %>

        <h4><%= @user.name %></h4>
        <p>Number of Posts: <%= @user.posts_counter %></p>
      </div>
    </article>

    <article class="users-bio">
      <p><%= @user.bio %></p>
    </article>

    <article class="users-posts">
      <% if @posts.empty? %>
        <p>There are no posts for this user</p>
      <% else %>
        <% @posts.each do |post| %>
          <div class="post-card">
            <h3>Post #<%= post.id %>: <%= post.title %></h2>
            <p class="post-card-d"><%= post.text %></p>
            <p class="post-card-a">
              Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
            </p>
          </div>
        <% end %>
      <% end %>
    </article>

    <div class="posts-btns">
      <%= link_to posts_path(@user.id) do %>
        <button>See all posts</button>
      <% end %>

      <%= link_to new_post_path do %>
        <button>Add a new post</button>
      <% end %>

      <%= link_to users_path do %>
        <button>Main Page</button>
      <% end %>
    </div>
  </section>
</main>
