<main>
  <section class="users-section d-flex justify-content-center flex-column align-items-center">
    <article class="users-info">
      <div class="users-section-card d-flex">
        <%= image_tag "user-regular.svg" %>
        <h4><%= @user.name %></h4>
        <p>Number of Posts: <%= @user.posts_counter %></p>
      </div>
    </article>

    <% @posts.each do |post| %>
      <article class="users-posts">
        <% link_to post_path(post.author_id, post.id) do %>
          <div class="post-card">
            <h3>Post #<%= post.id %>: <%= post.title %></h2>
            <p class="post-card-d"><%= post.text %></p>
            <p class="post-card-a">
              Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
            </p>
          </div>
        <% end %>

        <div class="posts-comments">
          <% @comments.each do |comment| %>
            <% if post.id == comment.post.id %>
              <p class="comment-d"><%= @users[comment.author_id].name %>: <%= comment.text %></p>
            <% end %>
          <% end %>
        </div>
      </article>
    <% end %>

    <div class="posts-btns">
      <%= link_to new_post_path do %>
        <button>Add a new post</button>
      <% end %>

      <%= link_to user_path(@user.id) do %>
        <button>Go back</button>
      <% end %>

      <%= link_to users_path do %>
        <button>Main Page</button>
      <% end %>
    </div>
  </section>
</main>