<main>
  <section class="users-section">
    <article class="users-info">
      <div class="users-section-card">
        <img src="<%= @user.photo %>" alt="Where the user face would be">
        <h4><%= @user.name %></h4>
        <p>Number of Posts: <%= @user.posts_counter %></p>
      </div>
    </article>

    <% @posts.each do |post| %>
      <article class="users-posts">
        <% link_to post_path(post.author_id, post.id) do %>
          <div class="post-card">
            <h3>Post #<%= post.id %>: <%= post.title %></h2>
            <p class="post-card-d"><%= post.text %></p>
            <p class="post-card-a">
              Comments: <%= post.comment_counter %>, Likes: <%= post.like_counter %>
            </p>
          </div>
        <% end %>

        <div class="posts-comments">
          <% @comments.each do |comment| %>
            <% if post.id == comment.post.id %>
              <p class="comment-d"><%= @users[comment.author_id].name %>: <%= comment.text %></p>
            <% end %>
          <% end %>
        </div>
      </article>
    <% end %>

    <button>Pagination</button>
  </section>
</main>